<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Asp.Net MVC Demo</title>
</head>
<body>
    <h1>ASP.NET MVC DEMO</h1>
    @RenderBody()
</body>
</html>
