
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <form>
        Name : <input type="text" name="name" />
        <input type="submit" value="Add Name"/>
    </form>

    <p/>
    <a href="/Session">List Of Names</a>

</body>
</html>
