
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
     @using (Ajax.BeginForm("search", new AjaxOptions { UpdateTargetId = "result" }))
     {
         <input type="text" name="name" placeholder="Product Name" />
         <input type="submit" value="Search" />
         <p></p>
         <div id="result"></div>
     }
</body>
</html>
